@import '../utils/variables.less';
@import '../utils/mixins.less';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  padding: 0 100px;
  display: grid;
  grid-template-rows: 125px 1fr 125px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
