@only-mobile: ~"(max-width: 767px)";
@mobile: ~"(min-width: 320px)";
@tablet: ~"(min-width: 768px)";
@desktop: ~"(min-width: 1000px)";

@mainFont: 'Manrope', sans-serif;

@basic-black: #000000;
@basic-grey: #131313;

