@mobile: ~"(min-width: 320px) and (max-width: 768px)";
@mobile-XL: ~"(min-width: 768px) and (max-width: 900px)";
@tablet: ~"(min-width: 900px) and (max-width: 1200px)";

@mainFont: 'Manrope', sans-serif;

@basic-black: #000000;
@basic-grey: #131313;
@background-img: #efeae9;
