@import '../utils/variables.less';
@import '../utils/mixins.less';

.content {
  font-family: @mainFont;
  color: @basic-grey;
}

.content__header-title {
  font-weight: 800;

  @media @desktop {
    .font(36, 36);
  }

  @media @tablet-XL {
    .font(34, 34);
  }

  @media @tablet {
    .font(34, 34);
  }

  @media @mobile-XL {
    .font(32, 32);
  }

  @media @mobile {
    .font(32, 32);
    padding: 0 8px;
  }
}

.content__header-subtitle {
  font-weight: 600;

  @media @desktop {
    margin-top: 30px;
    .font(20, 28);
  }

  @media @tablet-XL {
    margin-top: 25px;
    .font(18, 26);
  }

  @media @tablet {
    margin-top: 25px;
    .font(18, 26);
  }

  @media @mobile-XL {
    margin-top: 25px;
    .font(16, 22);
  }

  @media @mobile {
    margin-top: 20px;
    padding: 0 8px;
    .font(16, 22);
  }
}

.content__text {
  font-weight: 400;

  @media @desktop {
    .font(18, 26);
  }

  @media @tablet-XL {
    .font(18, 26);
  }

  @media @tablet {
    .font(16, 24);
  }

  @media @mobile-XL {
    .font(14, 20);
  }

  @media @mobile {
    .font(14, 20);
    padding: 0 8px;
  }
}

.content__img {
  display: block;
  background-color: @background-img;
  margin-top: auto;
  margin-bottom: auto;
}
