@import '../utils/variables.less';
@import '../utils/mixins.less';

.content {
    font-family: @mainFont;
    color: @basic-grey;
}

.content__header {}

.content__header-title {
    margin: 0;
    font-weight: 800;
    .font(48, 62);
}

.content__header-subtitle {
    margin: 0;
    font-weight: 600;
    .font(22, 33);
}

.content__header-text {}

.content__header-img {}

.content__text {
    margin: 0;
    font-weight: 400;
    .font(18, 27);
}

.content__img {
    display: block;
    background-color: @background-img;
}

