@import '../utils/variables.less';
@import '../utils/mixins.less';

.footer {
  display: grid;
  grid-template-columns: 225px 1fr;
  align-items: center;
  padding: 50px 0;
}

.footer__copyright {
  margin: 0;
  display: flex;
  justify-content: flex-end;
}
