@import '../utils/variables.less';
@import '../utils/mixins.less';

.header {
    display: grid;
    grid-template-columns: 225px 1fr;
    column-gap: 50px;
    align-items: center;
    padding: 50px 0;
    box-sizing: border-box;
    height: 125px;
}

.header__logo {
    display: grid;
    align-items: center;
}

.header__menu {
    .reset-list-styles();
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header__menu-item {
    margin-left: 35px;
}

.header__menu-item:first-of-type {
    margin-left: 0;
}

.header__menu-item-link {
    .font(16, 24);
    font-weight: 600;
    color: @basic-black;
}