@import '../utils/variables.less';
@import '../utils/mixins.less';

.page {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 100px;

  @media @tablet {
    padding: 0 24px;
  }

  @media @mobile-XL {
    padding: 0 24px;
  }

  @media @mobile {
    padding: 0 8px;
  }
}